* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;

  --hue: 320;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
}

body {
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

  font-size: var(--fs-body);
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);

  text-align: center;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;

  line-height: 3.2rem;
  letter-spacing: 3px;

  font-weight: 400;

  margin-bottom: 1.7rem;
}

main {
  display: grid;
  gap: 3.2rem;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
}

.card {
  position: relative;

  font-family: var(--ff-heading);
}

.card img {
  height: 41.6rem;
  object-fit: cover;

  border-radius: 10px;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: var(--fs-heading);
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  display: inline-flex;
  align-items: center;

  border-radius: 2rem;
  font-size: var(--fs-body);
  font-weight: 400;

  background-color: var(--fc-primary);
  color: var(--fc-secondary-dark);

  width: fit-content;
  padding: 0 1.6rem;
  height: 3.8rem;
}
